@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,regular,700");
.wrapper .about-me .container .about-me-title, .wrapper .skills .skills-title, .wrapper .portfolio .portfolio-wrapper .portfolio-title, .wrapper .contacts .contacts-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 1445px;
  height: 4185px;
  margin: 0 auto;
  background-color: #ffffff;
}
.wrapper .navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 945px;
  height: 50px;
  left: 250px;
  top: 40px;
  border-bottom: 2px solid #828282;
}
.wrapper .navigation a {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #828282;
  width: 90px;
  cursor: pointer;
}
.wrapper .navigation a:hover {
  color: black;
}
.wrapper .navigation a:nth-child(2) {
  padding-left: 9px;
}
.wrapper .navigation a:nth-child(3) {
  padding-left: 8px;
}
.wrapper .navigation a:nth-child(4) {
  text-align: end;
}
.wrapper .navigation a:last-child {
  text-align: end;
  padding-right: 2px;
}
.wrapper .home {
  position: absolute;
  width: 945px;
  height: 615px;
  left: 250px;
  top: 125px;
}
.wrapper .home .home-header {
  display: flex;
  justify-content: space-between;
  display: flex;
}
.wrapper .home .home-header h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 47px;
}
.wrapper .home .home-header div {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  text-align: end;
  padding: 6px 3px;
}
.wrapper .home .home-img {
  margin-top: 57px;
}
.wrapper .about-me {
  position: absolute;
  width: 1445px;
  height: 640px;
  top: 840px;
  background-color: #f4f4f4;
}
.wrapper .about-me .container {
  margin: 0px 250px;
}
.wrapper .about-me .container .about-me-title {
  width: 100%;
  height: 44px;
  margin-top: 50px;
}
.wrapper .about-me .container .article {
  display: flex;
  margin-top: 45px;
  align-items: center;
}
.wrapper .about-me .container .article .paragraph {
  width: 451px;
  height: 220px;
  margin-left: 44px;
}
.wrapper .about-me .container .article .paragraph p {
  font-size: 20px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 115%;
  padding-bottom: 24px;
}
.wrapper .skills {
  position: absolute;
  display: block;
  top: 1530px;
  left: 250px;
  width: 945px;
  height: 300px;
}
.wrapper .skills .skills-title {
  width: 945px;
  height: 44px;
}
.wrapper .skills .items-skills {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.wrapper .skills .items-skills .column {
  width: 170px;
  height: 205px;
  text-align: center;
}
.wrapper .skills .items-skills .column .icon-skills {
  height: 88px;
}
.wrapper .skills .items-skills .column .name-skills {
  margin-top: 23px;
  height: 40px;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  color: #828282;
}
.wrapper .skills .items-skills .column .stars {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  cursor: pointer;
}
.wrapper .portfolio {
  position: absolute;
  width: 1445px;
  height: 2087px;
  left: 0px;
  top: 1879px;
  background: #f4f4f4;
}
.wrapper .portfolio .portfolio-wrapper {
  display: block;
  width: 945px;
  height: 2087px;
  margin: 0 auto;
}
.wrapper .portfolio .portfolio-wrapper .portfolio-title {
  height: 43px;
  margin: 50px auto;
}
.wrapper .portfolio .portfolio-wrapper .portfolio-text {
  height: 24px;
  width: 945px;
  margin: 35px auto 86px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}
.wrapper .contacts {
  position: absolute;
  left: 250px;
  width: 945px;
  height: 109px;
  top: 4016px;
}
.wrapper .contacts .contacts-icons {
  display: inline-flex;
  justify-content: space-between;
  width: 340px;
  margin-top: 30px;
  margin-left: 300px;
}
.wrapper .contacts .contacts-icons img:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.418);
}
